
.featuresContainer {
    position: absolute;
    z-index: 999999;
    left: 300px;
    top: 100px;
    // background-color: #ffffff;
}

.featuresContainer .Fab_Container {
    box-shadow: 5px 10px 20px -20px rgba(59, 89, 153, 1);
    border: 5px solid rgba(238, 238, 238, 1);

}