nav .sidebar_container {
    display: flex;
    flex-direction: column;
}

.nav__contents ul {
    display: flex;
    flex-direction: column;
}

.nav__contents ul li {
    display: flex;
    border-bottom: 1px solid #dadada; // height: 40px;
    line-height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;

    // padding-top: 2px;
}

.nav__contents ul li div {
    padding-top: 1px;
    padding-bottom: 4px;
}

.nav__contents ul li:hover {
    // color: $primary_color;
    background-color: $warning-color;
}

.nav__contents .action_buttons_contents {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-start;
    width: 100%;
}

.nav__contents .action_buttons_contents label {
    display: flex;
    align-items: center;
}


// .nav__contents ul li i {
//     width: $nav-width-collased;
//     min-width: $nav-width-collased;
//     line-height: 40px;
//     text-align: center;
// }
// // Sidebar collased hover
// .sidebar-collased .nav__contents ul li span {
//     overflow: hidden;
// }
// .sidebar-collased .nav__contents ul li:hover {
//     background-color: $base_color;
//     cursor: pointer;
//     width: $nav-width;
//     overflow: visible;
// }