sidebar .sidebar_container {
    display: flex;
    flex-direction: column;
}

.sidebar_content ul {
    display: flex;
    flex-direction: column;
}

.sidebar_content ul li {
    display: flex;
    border-bottom: 1px solid #999999;
    height: 40px;
    line-height: 40px;
    cursor: pointer;    
}
.sidebar_content ul li:hover {
    color: $primary_color;
}

.sidebar_content ul li i {
    width: $sidebar-width-collased;
    min-width: $sidebar-width-collased;
    line-height: 40px;
    text-align: center;
}

// Sidebar collased hover
.sidebar-collased .sidebar_content ul li span {
    overflow: hidden;
}
.sidebar-collased .sidebar_content ul li:hover {
    background-color: $base_color;
    cursor: pointer;
    width: $sidebar-width;
    overflow: visible;
}