sidebar .sidebar_container {
    display: flex;
    flex-direction: column;
    background-color: $base_color;
}

.sidebar_content ul {
    display: flex;
    flex-direction: column;
}

.sidebar_content ul li {
    display: flex;
    width: $sidebar-width; 
    border: 1px solid $primary_color;
    height: 40px;
    line-height: 40px;
}

.sidebar_content ul li i {
    width: $sidebar-width-collased;
    line-height: 40px;
    text-align: center;
}

// //sidebar Collased
.sidebar-collased .sidebar_content ul li {
    width: $sidebar-width-collased;
}

// .sidebar-collased .sidebar_content ul li i {
//     width: 40px;
// }

// //Sidebar collased hover
.sidebar_content ul li:hover {
    background-color:  $base_color;
    cursor: pointer;
    width: $sidebar-width;
    overflow: visible;
}
